%h1 Результаты всех игр

%table#games{width: 600}
  %thead
    %tr
      %th №
      %th Winner 1
      %th Winner 2
      %th Loser 1
      %th Loser 2
      %th W pts
      %th L pts
  %tbody
    - @days.each do |day|
      %tr
        %td{colspan: 8, align: 'center'}= day.date.strftime("%-d %B, %A")      
      %tr
        %td{colspan: 8, align: 'center'}= day.comment
      - day.games.each do |game|
        %tr
          %td= game.num_in_day
          %td= first_winner(game.results).player.name
          %td= second_winner(game.results).player.name
          %td= first_loser(game.results).player.name
          %td= second_loser(game.results).player.name
          %td= game.win_points
          %td= game.lose_points
