%h1 Статистика игроков
= link_to 'На главную', '/main/main'

%table#players
  %thead
    %tr
      %th Ф.И.О.
      %th Win
      %th Lose
      %th Games
      %th W/G
      %th Больше побед
      %th БПР
      %th Рейтинг
      %th Место

  %tbody
    - @players.each do |player, stat|
      %tr
        %td= player
        %td= stat['wins_count']
        %td= stat['loses_count']
        %td= stat['games_count']
        %td= stat['wins_to_games_ratio']
        %td= stat['more_wins_man_count']
        %td= stat['more_wins_man_ratio']
        %td= stat['rating']
        %td= stat['place']

%h3 О расчёте рейтинга
%ul
  %li 
    Рейтинг считается как полусумма двух показателей:
    %ul 
      %li Отношения числа побед к числу игр - W/G,
      %li БПР - (БольшеПобедРейтинг) = 
      %li = 100% [1 - (Кол-во людей, одержавших больше побед)/(Общее кол-во игроков-1)]
  %li Место определяется по рейтингу
  %li При равном рейтинге выше игрок с большим количеством игр
  %li 
    Основные способы поднять себе рейтинг:
    %ul
      %li выигрыаать, чтобы поднять соотношение W/G
      %li выигрывать, чтобы обогнать кого-то по количеству побед и поднять БПР
      %li побольше играть, чтобы при прочих равных котироваться выше
