%h1 Рейтинг игроков

%table#players{:class => "table table-condensed",  "data-toggle" => "table", "data-classes" => "table-hover table-no-bordered", "data-striped" => "true" }
  %thead
    %tr
      %th{"data-sortable" => "true"} ФИО
      %th{"data-sortable" => "true"} D
      %th{"data-sortable" => "true"} W
      %th{"data-sortable" => "true"} L
      %th{"data-sortable" => "true"} G
      %th{"data-sortable" => "true"} W/G
      %th{"data-sortable" => "true"} БП
      %th{"data-sortable" => "true"} БПР
      %th{"data-sortable" => "true"} Р-г
      %th{"data-sortable" => "true"} #

  %tbody
    - @players.each do |player|
      %tr
        %td= player.name
        %td= player.days_count
        %td= player.wins_count
        %td= player.loses_count
        %td= player.games_count
        %td= player.wins_to_games_ratio
        %td= player.more_wins_man_count
        %td= player.more_wins_man_ratio
        %td= player.rating
        %td= player.place

%h3 О расчёте рейтинга
%ul
  %li 
    Рейтинг считается как полусумма двух показателей:
    %ul 
      %li Отношения числа побед к числу игр - W/G,
      %li БПР - (БольшеПобедРейтинг) = 
      %li = 100% [1 - (Кол-во людей, одержавших больше побед)/(Общее кол-во игроков-1)]
  %li Место определяется по рейтингу
  %li При равном рейтинге выше игрок с большим количеством игр
  %li 
    Основные способы поднять себе рейтинг:
    %ul
      %li выигрывать, чтобы поднять соотношение W/G
      %li выигрывать, чтобы обогнать кого-то по количеству побед и поднять БПР
      %li побольше играть, чтобы при прочих равных котироваться выше
